.section-header__menu-icons
    svg.icon.icon-hamburger-cross(
        aria-hidden="true",
        focusable="false",
        xmlns="http://www.w3.org/2000/svg",
        width="24",
        height="22",
        viewBox="0 0 24 24",
        fill="none"
    )
        g.icon-lines
            path.line.line1(
                d="M1 5H23",
                stroke="#ffffff",
                stroke-width="2",
                stroke-linecap="round",
                stroke-linejoin="round"
            )
            path.line.line2(
                d="M1 12H23",
                stroke="#ffffff",
                stroke-width="2",
                stroke-linecap="round",
                stroke-linejoin="round"
            )
            path.line.line3(
                d="M1 19H23",
                stroke="#ffffff",
                stroke-width="2",
                stroke-linecap="round",
                stroke-linejoin="round"
            )
